*{
    /* 요소 외부여백 */
    margin:0; 
    /* 요소 간 내부여백 */
    padding:0;
    font-size:0;
}

body{
    box-sizing:border-box;
    /* 크롬 사파리 */
    -webkit-box-sizing: border-box;
    /* 파이어폭스 */
    -moz-box-sizing: border-box;
    word-break:break-all;
    font-family: 'Heebo', sans-serif;
}

img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    font-size: 14px;
    /* 모두 대문자로 표현 */
    text-transform:uppercase
}

ul{
    /* 앞의 점이 보이지 않도록 설정 */
    list-style-type: none;
}

/* Header */
.header-area{
    position: relative;
    top:0;
    left:0;
    width:100%;

    /* 클수록 위쪽에 올라옴(사용자에서 가까운곳에) */
    z-index:99;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}

.navbar-fade{
    animation-name: navbar-fade;
    animation-duration: 0.5s;
    -webkit-animation-name: navbar-fade;
    -webkit-animation-duration: 0.5s;
}

/* 애니메이션 효과 */
@keyframes navbar-fade{
    from { opacity: .4}
    to {opacity: 1}
}

@-webkit-keyframes navbar-fade{
    from { opacity: .4}
    to {opacity: 1}
}


.header-area.navbar-fixed{
    position:fixed
}

.header-area>.navbar {
    /* 전체 공간 100% + 여백 좌우 60px(총 120px) - 120px */
    width: calc(100% - 120px);
    min-height: 70px;
    /* 여백 좌우 60px */
    margin: 0 60px;
    overflow: hidden;
}

/* 반응형 페이지(크기에 따라 변경) */

/* 992px 이상이면 적용 */
@media (min-width: 992px){
    .header-area>.navbar{
        max-width:900px;
        /* 가운데 정렬 */
        margin: 0 auto;
    }
}
/* 1200px 이상이면 적용(덮어쓰기됨) */
@media (min-width: 1200px){
    .header-area>.navbar{
        max-width:1000px;
    }
}

.header-area>.navbar>.navbar-brand{
    display: inline-block;
    position: absolute;
    /* 전체적으로 위에서 50% 떨어진 지점에 위치하게됨 */
    top: 50%;
    /* 해당 요소 50% 위치로 가게됨(가운데 쪽으로) */
    transform: translateY(-50%);
    font-size: 32px;

    /* 드래그 시 커서모양 변경 */
    cursor: pointer;
}

.header-area>.navbar>.navbar-toggler *{
    font-size: 32px;
}

.header-area>.navbar>.navbar-toggler{
    font-size: 32px;

    /* 세로 가운데 정렬 */
    float: right;
    height: 70px;
    line-height: 70px;

    /* 드래그 시 커서모양 변경 */
    cursor: pointer;
}

/* 992px 이상이면 */
@media(min-width: 992px){
    .header-area>.navbar>.navbar-toggler *{
        /* 화면에서 보이지 않음 */
        display: none; 
    }
}

.header-area>.navbar>.navbar-menu{
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    top:70px;
    left:0;
    width:100%;
    height:200px;
    /* 느리게 시작했다가 빨라졌다가 다시 느려짐 */
    transition: 0.5s ease;
    overflow: hidden;
}