*{
    /* 요소 외부여백 */
    margin:0; 
    /* 요소 간 내부여백 */
    padding:0;
    font-size:0;
}

body{
    box-sizing:border-box;
    /* 크롬 사파리 */
    -webkit-box-sizing: border-box;
    /* 파이어폭스 */
    -moz-box-sizing: border-box;
    word-break:break-all;
    font-family: 'Heebo', sans-serif;
}

img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    font-size: 14px;
    /* 모두 대문자로 표현 */
    text-transform:uppercase
}

ul{
    /* 앞의 점이 보이지 않도록 설정 */
    list-style-type: none;
}

/* Header */
.header-area{
    position: relative;
    top:0;
    left:0;
    width:100%;

    /* 클수록 위쪽에 올라옴(사용자에서 가까운곳에) */
    z-index:99;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}

.navbar-fade{
    animation-name: navbar-fade;
    animation-duration: 0.5s;
    -webkit-animation-name: navbar-fade;
    -webkit-animation-duration: 0.5s;
}

/* 애니메이션 효과 */
@keyframes navbar-fade{
    from { opacity: .4}
    to {opacity: 1}
}

@-webkit-keyframes navbar-fade{
    from { opacity: .4}
    to {opacity: 1}
}


.header-area.navbar-fixed{
    position:fixed;
}

.header-area>.navbar {
    /* 전체 공간 100% + 여백 좌우 60px(총 120px) - 120px */
    width: calc(100% - 120px);
    /* min-height: 70px; */
    /* 여백 좌우 60px */
    margin: 0 60px;
    overflow: hidden;
}

/* 반응형 페이지(크기에 따라 변경) */

/* 992px 이상이면 적용 */
@media (min-width: 992px){
    .header-area>.navbar{
        max-width:900px;
        /* 가운데 정렬 */
        margin: 0 auto;
    }
}
/* 1200px 이상이면 적용(덮어쓰기됨) */
@media (min-width: 1200px){
    .header-area>.navbar{
        max-width:1000px;
    }
}

.header-area>.navbar>.navbar-brand{
    display: inline-block;
    position: absolute;
    /* 전체적으로 위에서 50% 떨어진 지점에 위치하게됨 */
    top: 50%;
    /* 해당 요소 50% 위치로 가게됨(가운데 쪽으로) */
    transform: translateY(-50%);
    font-size: 32px;

    /* 드래그 시 커서모양 변경 */
    cursor: pointer;
}

.header-area>.navbar>.navbar-toggler *{
    font-size: 32px;
}

.header-area>.navbar>.navbar-toggler{
    font-size: 32px;

    /* 세로 가운데 정렬 */
    float: right;
    height: 70px;
    line-height: 70px;

    /* 드래그 시 커서모양 변경 */
    cursor: pointer;
}

/* 992px 이상이면 */
@media(min-width: 992px){
    .header-area>.navbar>.navbar-toggler *{
        /* 화면에서 보이지 않음 */
        display: none; 
    }
}

.header-area>.navbar>.navbar-menu{
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    top:70px;
    left:0;
    width:100%;
    height:0;
    /* 느리게 시작했다가 빨라졌다가 다시 느려짐 */
    transition: 0.5s ease;
    overflow: hidden;
}

.header-area>.navbar>.navbar-menu.show{
    height: 200px;
    
}
.header-area>.navbar>.navbar-menu>.nav-item{
    float: none;
    display: block;
    height: 50px;
    line-height: 50px;
}

.header-area>.navbar>.navbar-menu>.nav-item:hover *{
    background-color: rgba(0,0,0,0.4);
    /* cursor: pointer; */
}

.header-area>.navbar>.navbar-menu>.nav-item>.nav-link{
    color: white;
    padding-left: 50px;
    display: block;
    cursor: pointer;
}

@media(min-width: 992px){
    .header-area>.navbar>.navbar-menu{
        position: relative;
        /* 투명하게 */
        background-color: transparent;
        float: right;
        top: 0;
        width: auto;
        height: auto;
        transition: none;
    }

    .header-area>.navbar>.navbar-menu.show{
        height: auto;
    }

    .header-area>.navbar>.navbar-menu>.nav-item{
        display: inline-block;
        height: 70px;
        line-height: 70px;
    }

    .header-area>.navbar>.navbar-menu>.nav-item:hover *{
        background-color: transparent;
    }

    .header-area>.navbar>.navbar-menu>.nav-item>.nav-link{
        display: block;
        padding: 0 20px;
        color: black;
    }

}

/* Section container */
.section-container{
    max-width: 1000px;
    margin: 0 auto;
}

/* Welcome area */
.welcome-area{
    height: auto;
}

.welcome-area>.container{
    position: relative;
    height: 100%;
}

.welcome-area>.container>.image-slide{
    height: 100%;
}

.welcome-area>.container>.image-prev,
.welcome-area>.container>.image-next{
    cursor:pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.welcome-area>.container>.image-next{
    right:0;
    border-radius: 3px 0 0 3px;
}

.welcome-area>.container>.image-prev:hover,
.welcome-area>.container>.image-next:hover{
    background-color: rgba(0,0,0,0.8);
}

.welcome-area>.container>.dots{
    position:absolute;
    width:100%;
    bottom:10px;
    text-align: center;
}

.welcome-area>.container>.dots>.dot{
    cursor:pointer;
    height: 4px;
    width: 30px;
    margin: 0 2px;
    background-color: #717171;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.welcome-area>.container>.dots>.dot.active,
.welcome-area>.container>.dots>.dot:hover{
    background-color: #ddd;
}

.welcome-area>.container>.fade{
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

/* SECTION */
section{
    padding: 100px 0;
} 

.title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 100px;
}

.title::after{
    content:"";
    display: block;
    width: 100px;
    height: 10px;
    margin: 0 auto;
    background-image: linear-gradient(to right, royalblue, aquamarine);
}

/* About area */
.about-area{
    height: auto;
    position: relative;
}

.about-area>.picture{
    display: block;
    text-align: center;
    padding: 20px;
}

@media(min-width: 992px){
    .about-area>.picture{
        width: calc(40% - 40px);
        display: inline-block;
    }
}

.about-area>.picture>img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
}

.about-area>.picture>.name{
    font-size: 25px;
    text-align: center;
    padding: 15px 0;
}

.about-area>.picture>.description{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.about-area>.text{
    display: block;
    padding: 30px;
}

@media(min-width: 992px){
    .about-area>.text{
        width: calc(60% - 100px);
        display: inline-block;
        padding: 0 50px;
    }
}

.about-area>.text *{
    font-size: 16px;
}

.about-area>.text >.intro{
    padding: 20px 0;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1.5px;
}

.about-area>.text>ul{
    padding: 20px 0;
}

.about-area>.text>ul>li{
    height: 40px;
}

.about-area>.text>ul>li>.info{
    color: #777;
}

.about-area>.text>ul>li>.info>i{
    color: royalblue;
}

.about-area>.text>.sns{
    text-align: right;
}

@media(min-width: 992px){
    .about-area>.text>.sns{
        text-align: left;
    }
}

.about-area>.text>.sns>a{
    width: 50px;
    line-height: 50px;
    background-color: #eee;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.about-area>.text>.sns>a:hover{
    background-image: linear-gradient(to right, royalblue, aquamarine);
}